In [1]:
import pandas as pd

In [3]:
df9 = pd.read_csv('./Olist_sales_dataset/df9_product_category_name_translation.csv')

In [4]:
# View the first or last few rows to understand the structure.

df9.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [5]:
# Check data types and see if there are any missing values.

df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Handling Duplicates:

In [6]:
df9.loc[:, 'product_category_name'].drop_duplicates(inplace=True)

## Handling Missing Data

In [7]:
#  Check for missing values in each column

df9.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

## Column Renaming and Reordering:

In [8]:
# Rename columns for clarity and reorder them as needed:

df9.rename(columns={'product_category_name':'Product category name',
                          'product_category_name_english':'Product category name English',}, inplace=True)

df9

            Product category name Product category name English
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [9]:
df9.to_csv('cleaned_dataset_df9.csv', index=False)